DB_HOST=localhost
DB_PORT=5432
DB_NAME=roadmap_db
DB_USER=roadmap_user
DB_PASSWORD=cambiar_esta_contraseña
PRIVATE_KEY_PATH=keys/private_key.pem
PUBLIC_KEY_PATH=keys/public_key.pem
TLS_CERT_PATH=keys/cert.pem
APP_PORT=8000
MAX_CREDITOS=22